* {
    margin: 0;
    padding: 0;
    background-color: #282828;
    text-decoration: none;
}

a {
    color: inherit
}

ul {
    list-style-type: none;
}

body {
    background-color: #282828;
    font-family: 'Inconsolata', monospace;
}

.nav {
    margin: 2.5%;
    margin-right: 100%;
    position: absolute;
}

.nav-logo {
    color: #c1c1c1;
    font-size: 5rem;
}

.nav-links {
    margin-top: 20px;
    font-size: 2rem;
    color: #00B612;
}

.contacts {
    color: #00B612;
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
}


.focused {
    background-color: #00B612;
    color: #282828;

}

a:focus {
    outline: none;
}

/* post stuff **/

.post {
    margin-left: 15%;
    margin-right: 15%;
}

.post-title {
    color: #00B612;
    font-size: 5rem;
    text-align: center;
}

.post-meta {
    color: #c1c1c1;
    font-size: 2rem;
    margin-top: 2.5%;
}

.post-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin-top: 2.5%;
    display: block;
    outline: #000000 solid 3px;

}

.post-content {
    color: #c1c1c1;
    font-size: 2rem;
    margin-top: 2.5%;

}

.bottom-text {
    position: fixed;
    left: 0;
    bottom: 50px;
    width: 100%;
    text-align: center;
    font-size: 24px;
}

.content-desktop {
    display: block;
}

.rainbow-text-animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

@media (max-width: 991px) {
    .content-desktop {
        display: none;
    }
    .nav-logo {
        font-size: 2rem;
    }
    .nav-links {
        font-size: 1rem;
    }
    .post {
        margin-left: 10%;
        margin-right: 10%;
    }
    .post-title {
        font-size: 2rem;
    }
    .post-content {
        font-size: 1rem;
    }
    .post-meta {
        font-size: 1rem;
    }
}
